Assets/Enviro[[:space:]]3[[:space:]]-[[:space:]]Sky[[:space:]]and[[:space:]]Weather/Sample/Terrains/MicroSplatData/MicroSplatConfig_diff_tarray.asset filter=lfs diff=lfs merge=lfs -text
Assets/Enviro[[:space:]]3[[:space:]]-[[:space:]]Sky[[:space:]]and[[:space:]]Weather/Sample/Terrains/MicroSplatData/MicroSplatConfig_normSAO_tarray.asset filter=lfs diff=lfs merge=lfs -text
Assets/NatureManufacture[[:space:]]Assets/Dynamic[[:space:]]Nature[[:space:]]-[[:space:]]Mountain[[:space:]]Tree[[:space:]]Pack/Models/Textures/T_Fir_leaves_BC_T.TGA filter=lfs diff=lfs merge=lfs -text
Assets/NatureManufacture[[:space:]]Assets/Dynamic[[:space:]]Nature[[:space:]]-[[:space:]]Mountain[[:space:]]Tree[[:space:]]Pack/Models/Textures/T_Fir_leaves_MT_AO_G.tga filter=lfs diff=lfs merge=lfs -text
Assets/NatureManufacture[[:space:]]Assets/Dynamic[[:space:]]Nature[[:space:]]-[[:space:]]Mountain[[:space:]]Tree[[:space:]]Pack/Models/Textures/T_Fir_snow_leaves_BC_T.TGA filter=lfs diff=lfs merge=lfs -text
Assets/RocketParty/WZ-10[[:space:]]Armed[[:space:]]Helicopter/WZ-10[[:space:]]Armed[[:space:]]Helicopter.mb filter=lfs diff=lfs merge=lfs -text
Assets/RocketParty/WZ-10[[:space:]]Armed[[:space:]]Helicopter/WZ-10[[:space:]]Armed[[:space:]]Helicopter.obj filter=lfs diff=lfs merge=lfs -text
Assets/RocketParty/WZ-10[[:space:]]Armed[[:space:]]Helicopter/WZ-10[[:space:]]Armed[[:space:]]Helicopter_b.blend filter=lfs diff=lfs merge=lfs -text
Assets/RocketParty/WZ-10[[:space:]]Armed[[:space:]]Helicopter/WZ-10[[:space:]]Armed[[:space:]]Helicopter_b.blend1 filter=lfs diff=lfs merge=lfs -text
Assets/RocketParty/WZ-10[[:space:]]Armed[[:space:]]Helicopter/WZ-10[[:space:]]Armed[[:space:]]Helicopter_b2.blend filter=lfs diff=lfs merge=lfs -text
Assets/TFP/0)Demo/TFP.unity filter=lfs diff=lfs merge=lfs -text
Assets/TFP/5)Textures/Ground/ForestGround01_diffuse.tif filter=lfs diff=lfs merge=lfs -text
Assets/TFP/5)Textures/Ground/ForestGround01_normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TFP/5)Textures/Ground/ForestPath01_diffuse.tif filter=lfs diff=lfs merge=lfs -text
Assets/TFP/5)Textures/GroundFoliage/Foliage_diffuse.tif filter=lfs diff=lfs merge=lfs -text
Assets/TFP/5)Textures/Props/RopeBridge_diffuse.tif filter=lfs diff=lfs merge=lfs -text
Releases/RocketParty_Data/sharedassets1.assets filter=lfs diff=lfs merge=lfs -text
**/Heightmaps/*.png filter=lfs diff=lfs merge=lfs -text
**/Heightmaps/*.tif filter=lfs diff=lfs merge=lfs -text
